---
interface Props {
  lightSrc: string;
  darkSrc: string;
  alt: string;
}
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const { lightSrc, darkSrc, alt } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');

if (!images[lightSrc]) {
 throw new Error(`"${lightSrc}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
}
if (!images[darkSrc]) {
  throw new Error(`"${darkSrc}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
}
---

<div>
  <Image src={images[lightSrc]()} alt={alt} class="block dark:hidden" />
  <Image src={images[darkSrc]()} alt={alt} class="hidden dark:block" />
</div>
